.section {
  display: flex;
  flex-direction: column;
  gap: var(--space-16);
}

.heading {
  font-size: 20px;
  font-weight: 600;
  margin: 0;
}

.list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: var(--space-16);
}

@media (max-width: 700px) {
  .list {
    grid-template-columns: 1fr;
  }
}
